<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="bebop" />
    <arg name="map_name" default="demo" />
    <arg name="calibrate" default="false" />

    <arg name="ip" default="192.168.42.1" />

    <!-- Define the namespace and IP for MAVROS -->
    <arg name="mavros_ns" default="/mavros" />
    <arg name="mavros_ip" default="127.0.0.1" />

    <group ns="$(arg namespace)">
        <!-- MAVROS node -->
        <node pkg="mavros" name="mavros_node" type="mavros_node" output="screen" ns="$(arg mavros_ns)">
            <!-- Adjust connection parameters as per your setup -->
            <param name="fcu_url" value="udp://$(arg mavros_ip):14540@14557" />
            <param name="gcs_url" value="" />
            <param name="enable_logging" value="true" />
            <param name="target_system_id" value="1" />
            <param name="target_component_id" value="1" />
            <param name="boot_delay" value="5" />
        </node>
    </group>

    <!-- Add other nodes as per your requirements -->

    <node name="interface" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find indoor_drone)/rqt_config/demo.perspective">
        <param name="map_name" value="$(arg map_name)" />
    </node>

    <!-- Add pointcloud_scaler nodes and other nodes as needed -->

    <node name="frame_aligner" pkg="odom_slam_sensor_fusion" type="slam_aligner.py" respawn="false" output="screen">
        <param name="map_name" value="$(arg map_name)" />
    </node>

    <include file="$(find indoor_drone)/launch/sm.launch">
        <arg name="calibrate" default="$(arg calibrate)" />
    </include>

    <!-- Additional nodes or modifications as per your requirements -->

</launch>
