<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="dysl" />
    <arg name="map_name" default="demo" />
    <arg name="calibrate" default="false" />

    <!--<arg name="ip" default="192.168.42.1" />-->

    <arg name="drone_type" default="custom" /> <!-- available drone types: bebop1, bebop2 -->
    <!--<arg name="config_file" default="$(find bebop_driver)/config/defaults.yaml" />
    <arg name="camera_info_url" default="package://bebop_driver/data/$(arg drone_type)_camera_calib.yaml" />-->


    <node name="interface" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find indoor_drone)/rqt_config/demo.perspective">
        <!-- <remap from="/takeoff"     to="$(arg namespace)/takeoff"/>
        <remap from="/land"        to="$(arg namespace)/land"/> -->

        <param name="map_name" value="$(arg map_name)" />
    </node>


    <include file="$(find indoor_drone)/launch/sm.launch">
        <arg name="calibrate" default="$(arg calibrate)" />

    </include>


    <!-- <node name="Kill_button" pkg="drone_control" type="kill_button.py" required="true" output="screen"/>

    <node name="control" pkg="drone_control" required="true" type="control.py" output="screen">
       <param name="calibrate_pid" type="bool" value="false" />
    </node>   -->

</launch>
